<Variable::Form
	@name={{this.currentVariable.name}}
	@description={{this.currentVariable.description}}
	@question={{this.currentVariable.question}}
	@variableType={{this.currentVariable.variableType}}
	@domain={{this.currentVariable.domain}}

	@domains={{this.domains}}

	@onSubmit={{this.save}}
	@onCancel={{this.cancelChanges}}
/>
{{#if this.serverErrorMessage}}
	<div class="notification mt-3 is-danger is-light">
		{{this.serverErrorMessage}}
	</div>
{{/if}}
