<div class="field">
	<label for="name" class="label">
		{{t "kb.fields.name"}}
	</label>
	<Input id="name" class="input is-small" @type="text" placeholder={{t "kb.fields.name"}} @value={{@kb.name}} />
</div>
<div class="field">
	<label for="description" class="label">
		{{t "kb.fields.description"}}
	</label>
	<Textarea
		id="description"
		class="textarea is-small"
		placeholder={{t "kb.fields.description"}}
		@value={{@kb.description}}
	/>
</div>