<div class="form domain-form">
  <div class="form__field">
    <label for="name" class="form__field-label">Name</label>
    <Input id="name" @type="text" class="input input_labeled" placeholder="Name" @value={{@domain.name}} />
  </div>
  <div class="form__field">
    <label for="type" class="form__field-label">Type</label>
    <PowerSelect @options={{this.domainTypes}} @allowClear={{false}} @selected={{this.selectedDomainType}}
      @disabled={{this.domainHasValues}} @onChange={{this.setDomainType}} as |domainType|>
      {{domainType.value}}
    </PowerSelect>
  </div>
  {{#if (eq @domain.domainType 2)}}
  <div class="form__field">
    <label for="value" class="form__field-label">New Value</label>
    <Input id="value" @type="text" class="input input_labeled" placeholder="Value" @value={{this.newValue}} />
    <button type="button" class="btn form__field-button" {{on 'click' this.addValue}}>
      <FaIcon @icon="plus-square" />
    </button>
  </div>
  <SortableObjects @sortableObjectList={{@domain.domainValuesOrdered}} @useSwap={{false}} @inPlace={{true}}
    @sortingScope="domainValueList" @enableSort={{true}} @sortEndAction={{fn this.reorderValues
    @domain.domainValuesOrdered}}>
    {{#each @domain.domainValuesOrdered as |domainValue|}}
    <DraggableObject @overrideClass='form__field' @content={{domainValue}} @isSortable={{true}}
      @sortingScope="domainValueList">
      <Input @type="text" placeholder="Value" @value={{domainValue.value}} @class="input input_labeled" />
      <button type="button" class="btn form__field-button" {{on 'click' (fn this.deleteValue domainValue)}}>
        <FaIcon @icon="trash" />
      </button>
    </DraggableObject>
    {{/each}}
  </SortableObjects>
  {{/if}}
  {{#if (eq @domain.domainType 3)}}
  <div class="form__field">
    <label for="min" class="form__field-label">Min</label>
    <Input id="min" @type="number" class="input input_labeled" placeholder="Min" @value={{this.minValue}} />
    <label for="max" class="form__field-label">Min</label>
    <Input id="max" @type="number" class="input input_labeled" placeholder="Max" @value={{this.maxValue}} />
    <button type="button" class="btn form__field-button">
      <FaIcon @icon="trash" />
    </button>
  </div>
  {{/if}}
  <div class="form__panel">
    <button type="button" class="btn" {{on 'click' @onSave}}>
      <FaIcon @icon="check" />
    </button>
    <button type="button" class="btn" {{on 'click' @onCancelChanges}}>
      <FaIcon @icon="window-close" />
    </button>
  </div>
</div>