<form id="domain" class="box" {{did-insert this.setupForm}} {{on "submit" this.onSubmit}}>
	<div class="field">
		<FormInput
			id="name"
			placeholder={{t "models.domain.fields.name"}}
			value={{this.name}}
			@labelText={{t "models.domain.fields.name"}}
			@isValid={{this.nameValidation.isValid}}
			@isInValid={{this.nameValidation.isInValid}}
			@onChange={{fn this.onFieldChange "name"}}
			@validationErrors={{this.nameValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			id="description"
			placeholder={{t "models.domain.fields.description"}}
			value={{this.description}}
			@labelText={{t "models.domain.fields.description"}}
			@isValid={{this.descriptionValidation.isValid}}
			@isInValid={{this.descriptionValidation.isInValid}}
			@onChange={{fn this.onFieldChange "description"}}
			@validationErrors={{this.descriptionValidation.errors}}
		/>
	</div>
	<div class="field">
		<label for="type" class="label">
			{{t "models.domain.fields.type"}}
		</label>
		<div class="control">
			<PowerSelect
				@options={{this.domainTypes}}
				@allowClear={{false}}
				@selected={{this.selectedDomainType}}
				@disabled={{this.domainHasValues}}
				@onChange={{this.setDomainType}} as |domainType|
			>
				{{domainType.value}}
			</PowerSelect>
		</div>
		{{#if this.domainTypeValidation.isInValid}}
			{{#each this.domainTypeValidation.errors as |error|}}
				<p class="help is-danger">
					{{t error}}
				</p>
			{{/each}}
		{{/if}}
	</div>
	<div class="field is-grouped">
		<div class="control is-expanded">
			<label for="domain_value" class="label">
				{{t "models.domain.fields.new_domain_value"}}
			</label>
			<Input id="domain_value" @type={{this.domainTypeControl}} class="input is-small" @value={{this.newValue}} />
		</div>
		<div class="control is-flex is-flex-direction-column is-justify-content-flex-end">
			<button type="button" class="button is-primary is-small" {{on "click" this.addValue}}>
				<FaIcon @icon="plus-square" />
			</button>
		</div>
	</div>
	{{#if this.domainHasValues}}
		<div class="box">
			<Domain::DomainValueList
				@domainValues={{this.domain.domainValuesOrdered}}
				@domainValueType={{this.domainTypeControl}}
				@reorderValues={{this.reorderDomainValues}}
				@deleteValue={{this.deleteDomainValue}}
			/>
		</div>
	{{/if}}
	<button type="submit" class="button is-primary" {{on "click" this.onSubmit}}>
		{{t "common.actions.save"}}
	</button>
	<button type="button" class="button is-light" {{on "click" @onCancel}}>
		{{t "common.actions.cancel"}}
	</button>
</form>