<div class="box">
	<Domain::List
		@domains={{this.domains}}
		@addDomain={{this.addDomain}}
		@editDomain={{this.editDomain}}
		@deleteDomain={{this.deleteDomain}}
		@setSortParameters={{this.setSortParameters}}
	/>
</div>