<div class="container">
	<form class="box">
		<div class="field">
			<label for="login" class="label">
				{{t "fields.login_or_email"}}
			</label>
			<div class="control has-icons-left">
				<Input id="login" @type="text" class="input" placeholder={{t "fields.login"}} @value={{this.identification}} />
				<span class="icon is-small is-left">
					<FaIcon @icon="user" />
				</span>
			</div>
		</div>
		<div class="field">
			<label for="password" class="label">
				{{t "fields.password"}}
			</label>
			<div class="control has-icons-left">
				<Input id="password" @type="password" class="input" placeholder="********" @value={{this.password}} />
				<span class="icon is-small is-left">
					<FaIcon @icon="lock" />
				</span>
			</div>
		</div>
		<button
			type="button"
			class="button is-primary {{unless this.authenticate.isIdle "is-loading"}}"
			{{on "click" (perform this.authenticate)}}
		>
			{{t "sign_in"}}
		</button>
		{{#if this.errorMessage}}
			<div class="notification mt-3 is-danger is-light">
				{{this.errorMessage}}
			</div>
		{{/if}}
	</form>
</div>