<div class="table__header">
	<div class="table__header-item slot-table__item">
		{{t "slot.fields.name"}}
	</div>
	<div class="table__header-item slot-table__item">
		{{t "slot.fields.domain"}}
	</div>
	<div class="table__header-item slot-table__item">
		{{t "slot.fields.default_value"}}
	</div>
	<div class="table__header-item slot-table__item">
		{{t "slot.fields.production"}}
	</div>
	<div class="table__header-item slot-table__item">
		{{t "slot.fields.inherited"}}
	</div>
	<div class="table__header-item slot-table__item">
		{{t "common.actions"}}
	</div>
</div>
{{#if @showActionBar}}
	<div class="table__bar">
		<div class="table__search-container slot-table__search-container">
			<div class="field">
				<div class="control has-icons-right">
					<Input placeholder={{t "common.filter"}} class="input is-small" @type="text" @value={{@query}} />
					<span class="icon is-right">
						<FaIcon @icon="search" />
					</span>
				</div>
			</div>
		</div>
		<div class="table__actions slot-table__actions">
			<button type="button" class="button is-primary is-small" {{on "click" @addSlot}}>
				<span class="icon">
					<FaIcon @icon="plus-square" />
				</span>
			</button>
		</div>
	</div>
{{/if}}