<DraggableObject @overrideClass="table__row" @content={{@slot}} @isSortable={{true}} @sortingScope="slotList">
	<div class="table__cell slot-table__cell">
		<span class="table__cell-value">
			{{@slot.name}}
		</span>
	</div>
	<div class="table__cell slot-table__cell">
		<span class="table__cell-value">
			{{if (is-empty @slot.domain.name) (t "slot.fields.field_not_set") @slot.domain.name}}
		</span>
	</div>
	<div class="table__cell slot-table__cell">
		<span class="table__cell-value">
			{{if (is-empty @slot.value.valueStr) (t "slot.fields.field_not_set") @slot.value.valueStr}}
		</span>
	</div>
	<div class="table__cell slot-table__cell">
		<span class="table__cell-value">
			<FaIcon @icon={{if @slot.hasProduction "check-square" "square"}} />
		</span>
	</div>
	<div class="table__cell slot-table__cell">
		<span class="table__cell-value">
			<FaIcon @icon={{if @slot.isInherited "check-square" "square"}} />
		</span>
	</div>
	<div class="table__cell slot-table__cell">
		<button type="button" class="button is-primary is-small" {{on "click" this.editSlot}}>
			<span class="icon">
				<FaIcon @icon="edit" />
			</span>
		</button>
		<button
			type="button"
			class="button is-danger is-small"
			disabled={{@slot.isInherited}}
			{{on "click" (fn @deleteSlot @slot)}}
		>
			<span class="icon">
				<FaIcon @icon="trash" />
			</span>
		</button>
	</div>
</DraggableObject>
{{#if @slot.isEditing}}
	<ModalCard
		@header={{t "slot.name"}}
		@onClose={{this.onCancelSlotChanges}}
		@onSuccessClose={{this.onSaveSlot}}
		@onCancelClose={{this.onCancelSlotChanges}}
	>
		<Slot::Form @slot={{@slot}} @domains={{@domains}} />
	</ModalCard>
{{/if}}