<Rule::Form @rule={{this.currentRule}} @variables={{this.variables}} @onSubmit={{this.save}} @onCancel={{this.cancelChanges}} />
{{#if this.serverErrorMessage}}
	<div class="notification mt-3 is-danger is-light">
		{{this.serverErrorMessage}}
	</div>
{{/if}}