<div class="box">
	<Rule::List
		@rules={{this.rules}}
		@enableSave={{this.enableSave}}
		@saveRules={{this.saveRules}}
		@deleteRule={{this.deleteRule}}
		@reorderRules={{this.reorderRules}}
	/>
</div>