<div class="card is-fullwidth">
	<header class="card-header">
		<p class="card-header-title">
			{{@header}}
		</p>
		<a role="button" class="card-header-icon" {{on "click" this.toggleCard}}>
			<span class="icon">
				<FaIcon @icon={{if this.isOpen "angle-down" "angle-up"}} />
			</span>
		</a>
	</header>
	<div class="card-content {{unless this.isOpen "is-hidden"}}">
		{{yield}}
	</div>
</div>