<nav class="navbar is-primary">
	<div class="navbar-brand">
		<a
			role="button"
			class="navbar-burger"
			aria-expanded="false"
			data-target="burger-navbar"
			{{on "click" this.toggleMenu}}
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="burger-navbar" class="navbar-menu {{if this.isMenuOpen " is-active"}}">
		<div class="navbar-start">
			{{#if this.session.isAuthenticated}}
				<LinkTo class="navbar-item" @route="app.knowledge-bases">
					{{t "knowledge_bases"}}
				</LinkTo>
			{{/if}}
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					{{#if this.session.isAuthenticated}}
						<button type="button" class="button is-primary" {{on "click" this.invalidateSession}}>
							{{t "sign_out"}}&nbsp;
							<FaIcon @icon="sign-out-alt" />
						</button>
					{{else}}
						<LinkTo class="button is-primary" @route="sign-up">
							{{t "sign_up"}}
						</LinkTo>
						<LinkTo class="button is-primary" @route="sign-in">
							{{t "sign_in"}}&nbsp;
							<FaIcon @icon="sign-in-alt" />
						</LinkTo>
					{{/if}}
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a role="button" class="navbar-link">
					<FaIcon @icon="language" />
				</a>
				<div class="navbar-dropdown navbar-language is-right">
					{{#each this.supportedLanguages as |language|}}
						<a role="button" class="navbar-item" {{on "click" (fn this.setLanguage language)}}>
							<img class="navbar-language__icon" src="/assets/flags/{{language}}.svg" alt={{language}}>
							<span class="navbar-language__text">{{t (concat "language." language)}}</span>
						</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</nav>