<form class="box" {{on "submit" this.onSubmit}}>
	<div class="field">
		<FormInput
			id="login"
			value={{this.userName}}
			placeholder={{t "models.user.fields.login"}}
			data-test-login
			@labelText={{t "models.user.fields.login_or_email"}}
			@isValid={{this.identificationValidation.isValid}}
			@isInValid={{this.identificationValidation.isInValid}}
			@leftIcon="user"
			@onChange={{fn this.onFieldChange "identification"}}
			@validationErrors={{this.identificationValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			id="password"
			type={{if this.showPassword "text" "password"}}
			value={{this.password}}
			placeholder="********"
			data-test-password
			@labelText={{t "models.user.fields.password"}}
			@isValid={{this.passwordValidation.isValid}}
			@isInValid={{this.passwordValidation.isInValid}}
			@leftIcon="lock"
			@onChange={{fn this.onFieldChange "password"}}
			@validationErrors={{this.passwordValidation.errors}}
		/>
		<div class="mt-1">
			<label class="checkbox">
				<Input @type="checkbox" @checked={{this.showPassword}} />
				{{t "models.user.fields.show_password"}}
			</label>
		</div>
	</div>
	<button
		type="submit"
		class="button is-primary{{if @isLoading " is-loading"}}"
		data-test-auth-button
		{{on "click" this.onSubmit}}
	>
		{{t "common.actions.sign_in"}}
	</button>
</form>