<form id="sign-up" class="box" {{on "submit" this.onSubmit}}>
	<div class="field">
		<FormInput
			id="login"
			placeholder={{t "models.user.fields.login"}}
			value={{this.userName}}
			data-test-login
			@labelText={{t "models.user.fields.login"}}
			@isValid={{this.userNameValidation.isValid}}
			@isInValid={{this.userNameValidation.isInValid}}
			@leftIcon="user"
			@onChange={{this.onUsernameChange}}
			@validationErrors={{this.userNameValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			id="email"
			placeholder={{t "models.user.fields.email"}}
			value={{this.email}}
			data-test-email
			@labelText={{t "models.user.fields.email"}}
			@isValid={{this.emailValidation.isValid}}
			@isInValid={{this.emailValidation.isInValid}}
			@leftIcon="envelope"
			@onChange={{this.onEmailChange}}
			@validationErrors={{this.emailValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			id="password"
			type={{if this.showPassword "text" "password"}}
			placeholder="********"
			value={{this.password}}
			data-test-password
			@labelText={{t "models.user.fields.password"}}
			@isValid={{this.passwordValidation.isValid}}
			@isInValid={{this.passwordValidation.isInValid}}
			@leftIcon="lock"
			@onChange={{this.onPasswordChange}}
			@validationErrors={{this.passwordValidation.errors}}
		/>
		<div class="mt-1">
			<label class="checkbox">
				<Input @type="checkbox" @checked={{this.showPassword}} />
				{{t "models.user.fields.show_password"}}
			</label>
		</div>
	</div>
	<div class="field">
		<label class="checkbox">
			<Input @type="checkbox" @checked={{this.acceptTerms}} data-test-terms-check />
			<span>
				{{t "models.user.fields.agreement"}}
			</span>
			<span class="icon">
				<a href="/terms-and-conditions.html" target="_blank" rel="noopener noreferrer">
					<FaIcon @icon="external-link-alt" @size="sm" />
				</a>
			</span>
		</label>
		{{#each this.acceptTermsValidation.errors as |error|}}
			<p class="help is-danger">
				{{t error}}
			</p>
		{{/each}}
	</div>
	<button
		type="submit"
		class="button is-primary {{if @isLoading "is-loading"}}"
		data-test-sign-button
		{{on "click" this.onSubmit}}
	>
		{{t "common.actions.sign_up"}}
	</button>
</form>