<div class="frame-editor__graph">
  <Frame::Graph @frames={{this.frames}} @addFrame={{this.addFrame}} @deleteFrame={{this.deleteFrame}}
    @unsetParent={{this.unsetParent}} @setParent={{this.setParent}} @changeFramePosition={{this.changeFramePosition}} />
</div>
{{#if this.selectedFrame}}
<div class="frame-editor__selected-frame">
  <div class="frame-editor__frame">
    <div class="frame-editor__name-container">
      <label for="frame_name" class="label">Name</label>
      <Input @type="text" id="frame_name" placeholder="Name" @value={{this.selectedFrame.name}}
        class="input input_labeled {{if @isValid 'input_valid' 'input_invalid'}}" />
    </div>
    <div class="frame-editor__actions-container">
      <button type="button" class="frame__save-btn" disabled={{this.selectedFrame.validations.isInvalid}}
        {{on 'click' this.saveFrame}}>
        <FaIcon @icon="check" />
      </button>
      <button type="button" class="frame__cancel-btn" {{on 'click' this.cancelFrameChanges}}>
        <FaIcon @icon="window-close" />
      </button>
    </div>
  </div>
  <div class="table">
    <Slot::ListHeader @showActionBar={{true}} @query={{this.search}} @addSlot={{this.addSlot}} />
    <Provider::Filter @model={{this.selectedFrame.sortedSlots}} @field="name" @query={{this.search}} as |filteredSlots|>
      <SortableObjects @sortableObjectList={{filteredSlots}} @useSwap={{false}} @inPlace={{true}}
        @sortingScope="slotList" @enableSort={{this.canReorderSlots}}
        @sortEndAction={{fn this.reorderSlots filteredSlots}}>
        {{#each filteredSlots as |slot|}}
        <Slot::ListItem @slot={{slot}} @domains={{this.domains}} @onSave={{fn this.saveSlotChanges slot}}
          @onCancelChanges={{fn this.cancelSlotChanges slot}} @deleteSlot={{fn this.deleteSlot slot}} />
        {{/each}}
      </SortableObjects>
    </Provider::Filter>
  </div>
</div>
{{/if}}