<div class="base-editor__editor">
	<div class="base-editor__editor-tree">
		{{#each this.rootFrames as |rootFrame|}}
			<TreeNode @node={{rootFrame}} @selectNode={{this.selectFrame}} @isRootNode={{true}} @isLastNode={{false}} />
		{{/each}}
	</div>
	<div class="base-editor__editor-graph">
		<Frame::Graph
			@frames={{this.frames}}
			@selectFrame={{this.selectFrame}}
			@deSelectFrames={{this.deSelectFrames}}
			@addFrame={{this.addFrame}}
			@deleteFrame={{this.deleteFrame}}
			@unsetParent={{this.unsetParent}}
			@setParent={{this.setParent}}
			@changeFramePosition={{this.changeFramePosition}}
		/>
	</div>
</div>
<div class="container-fluid">
	{{#if this.selectedFrame}}
		<div class="base-editor__selected-frame">
			<div class="box">
				<div class="field">
					<FormInput
						@id="frame-name"
						@labelText={{t "models.frame.fields.name"}}
						@placeholder={{t "models.frame.fields.name"}}
						@value={{this.selectedFrame.name}}
						@isValid={{this.nameValidation.isValid}}
						@isInValid={{this.nameValidation.isInValid}}
						@onChange={{this.onNameChange}}
						@validationErrors={{this.nameValidation.errors}}
					/>
				</div>
				<div class="field">
					<button
						type="button"
						class="button is-info is-small"
						disabled={{this.selectedFrame.validations.isInvalid}}
						{{on "click" this.saveFrame}}
					>
						<span class="icon">
							<FaIcon @icon="check" />
						</span>
					</button>
					<button type="button" class="button is-warning is-small" {{on "click" this.cancelFrameChanges}}>
						<span class="icon">
							<FaIcon @icon="window-close" />
						</span>
					</button>
				</div>
				<Slot::List
					@frame={{this.selectedFrame}}
					@slots={{this.selectedFrame.sortedSlots}}
					@addSlot={{this.addSlot}}
					@selectSlot={{this.selectSlot}}
					@deleteSlot={{this.deleteSlot}}
					@reorderSlots={{this.reorderSlots}}
				/>
				{{#if this.selectedSlot}}
					<ModalCard
						@header={{t "models.slot.name"}}
						@onClose={{fn this.cancelSlotChanges this.selectedSlot}}
						@onSuccessClose={{fn this.saveSlotChanges this.selectedSlot}}
						@onCancelClose={{fn this.cancelSlotChanges this.selectedSlot}}
					>
						<Slot::Form @slot={{this.selectedSlot}} @domains={{this.domains}} />
					</ModalCard>
				{{/if}}
			</div>
		</div>
	{{/if}}
</div>