<div class="frame-editor__game-panel">
  <Game::GameHtml @panelObjects={{this.panelObjects}} @battleField={{this.battleField}} @x={{this.x}} @y={{this.y}}
    @playStep={{this.playStep}} @addMoveObjectOnField={{this.addMoveObjectOnField}} />
</div>