<div class="base-editor__game-panel">
	<Game::GameHtml
		@panelObjects={{this.panelObjects}}
		@battleField={{this.battleField}}
		@x={{this.x}}
		@y={{this.y}}
		@playStep={{this.playStep}}
		@addMoveObjectOnField={{this.addMoveObjectOnField}}
	/>
</div>
<div class="container is-fluid my-2">
	<Card @header={{t "pages.frame_editor.testing.battle.log"}}>
		<ul class="tree base-editor__log">
			<TreeNode @node={{this.gameObjectLog}} @isRootNode={{true}} @isLastNode={{false}} />
		</ul>
	</Card>
</div>