<div class="base-editor">
	<ul class="base-editor__navbar">
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.frame-base.index" class="base-editor__navbar-link">
				<FaIcon @icon="info" />
				<span class="base-editor__navbar-link-text">
					{{t "frame_editor.information"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.frame-base.editor" class="base-editor__navbar-link">
				<FaIcon @icon="clipboard" />
				<span class="base-editor__navbar-link-text">
					{{t "frame_editor.editor"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.frame-base.domains" class="base-editor__navbar-link">
				<FaIcon @icon="th-list" />
				<span class="base-editor__navbar-link-text">
					{{t "frame_editor.domains"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.frame-base.play" class="base-editor__navbar-link">
				<FaIcon @icon="play" />
				<span class="base-editor__navbar-link-text">
					{{t "frame_editor.play"}}
				</span>
			</LinkTo>
		</li>
	</ul>
	<div class="base-editor__content">
		{{outlet}}
	</div>
</div>