<div class="base-editor">
	<ul class="base-editor__navbar">
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.production-base.index" class="base-editor__navbar-link">
				<FaIcon @icon="info" />
				<span class="base-editor__navbar-link-text">
					{{t "pages.production_editor.information.title"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.production-base.rules" class="base-editor__navbar-link">
				<FaIcon @icon="clipboard" />
				<span class="base-editor__navbar-link-text">
					{{t "pages.production_editor.rules"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.production-base.variables" class="base-editor__navbar-link">
				<FaIcon @icon="th-list" />
				<span class="base-editor__navbar-link-text">
					{{t "pages.production_editor.variables"}}
				</span>
			</LinkTo>
		</li>
		<li class="base-editor__navbar-link-container">
			<LinkTo @route="app.production-base.domains" class="base-editor__navbar-link">
				<FaIcon @icon="th-list" />
				<span class="base-editor__navbar-link-text">
					{{t "pages.production_editor.domains"}}
				</span>
			</LinkTo>
		</li>
	</ul>
	<div class="base-editor__content">
		{{outlet}}
	</div>
</div>