<form id="rule" class="box" {{did-insert this.setupForm}} {{on "submit" this.onSubmit}}>
	<div class="field">
		<FormInput
			@id="name"
			@labelText={{t "rule.fields.name"}}
			@placeholder={{t "rule.fields.name"}}
			@value={{this.name}}
			@isValid={{this.nameValidation.isValid}}
			@isInValid={{this.nameValidation.isInValid}}
			@onChange={{this.onNameChange}}
			@validationErrors={{this.nameValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			@id="reason"
			@labelText={{t "rule.fields.reason"}}
			@placeholder={{t "rule.fields.reason"}}
			@value={{this.reason}}
			@isValid={{this.reasonValidation.isValid}}
			@isInValid={{this.reasonValidation.isInValid}}
			@onChange={{this.onReasonChange}}
			@validationErrors={{this.reasonValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			@id="premise"
			@labelText={{t "rule.fields.premise"}}
			@placeholder={{t "rule.fields.premise"}}
			@value={{this.premise}}
			@isValid={{this.premiseValidation.isValid}}
			@isInValid={{this.premiseValidation.isInValid}}
			@onChange={{this.onPremiseChange}}
			@validationErrors={{this.premiseValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			@id="consequence"
			@labelText={{t "rule.fields.consequence"}}
			@placeholder={{t "rule.fields.consequence"}}
			@value={{this.consequence}}
			@isValid={{this.consequenceValidation.isValid}}
			@isInValid={{this.consequenceValidation.isInValid}}
			@onChange={{this.onConsequenceChange}}
			@validationErrors={{this.consequenceValidation.errors}}
		/>
	</div>
	<div class="field">
		<p>
			<pre>
				{{this.fullRule}}
			</pre>
		</p>
	</div>
	<button type="submit" class="button is-primary" {{on "click" this.onSubmit}}>
		{{t "common.save"}}
	</button>
	<button type="button" class="button is-light" {{on "click" @onCancel}}>
		{{t "common.cancel"}}
	</button>
</form>