<div class="table-container">
	{{!-- template-lint-disable table-groups --}}
	<table class="table rule-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
		<thead>
			<tr>
				<th class="rule-table__index-column has-text-centered">#</th>
				<th class="rule-table__name-column">{{t "rule.fields.name"}}</th>
				<th class="rule-table__rule-column">{{t "rule.fields.full_rule"}}</th>
				<th class="rule-table__actions-column has-text-centered">{{t "common.actions"}}</th>
			</tr>
			<tr>
				<th class="rule-table__index-column"></th>
				<th class="rule-table__name-column"></th>
				<th class="rule-table__rule-column">
					<div class="control has-icons-right">
						<Input placeholder={{t "common.filter"}} class="input is-small" @type="text" @value={{this.filter}} />
						<span class="icon is-right">
							<FaIcon @icon="search" />
						</span>
					</div>
				</th>
				<th class="rule-table__actions-column has-text-centered">
					<LinkTo @route="app.production-base.rules.new" class="button is-primary is-small">
						<FaIcon @icon="plus-square" />
					</LinkTo>
				</th>
			</tr>
		</thead>
		<Provider::Filter @model={{@rules}} @field="fullRule" @query={{this.filter}} as |filteredRules|>
			<SortableObjects
				@tagName="tbody"
				@sortableObjectList={{filteredRules}}
				@useSwap={{false}}
				@inPlace={{true}}
				@sortingScope="rules"
				@enableSort={{this.canReorderRules}}
				@sortEndAction={{fn @reorderRules filteredRules}}
			>
				{{#each filteredRules as |rule|}}
					<DraggableObject @tagName="tr" @content={{rule}} @isSortable={{true}} @sortingScope="rules">
						<td class="rule-table__index-column has-text-centered">{{rule.order}}</td>
						<td class="rule-table__name-column">{{rule.name}}</td>
						<td class="rule-table__rule-column">
							<p><code>{{rule.fullRule}}</code></p>
						</td>
						<td class="rule-table__actions-column has-text-centered">
							<LinkTo @route="app.production-base.rules.edit" @model={{rule.id}} class="button is-warning is-small">
								<FaIcon @icon="edit" />
							</LinkTo>
							<button type="button" class="button is-danger is-small" {{on "click" (fn @deleteRule rule)}}>
								<FaIcon @icon="trash" />
							</button>
						</td>
					</DraggableObject>
				{{/each}}
			</SortableObjects>
		</Provider::Filter>
	</table>
</div>