<form id="variable" class="box" {{did-insert this.setupForm}} {{on "submit" this.onSubmit}}>
	<div class="field">
		<FormInput
			id="name"
			placeholder={{t "models.variable.fields.name"}}
			value={{this.name}}
			@labelText={{t "models.variable.fields.name"}}
			@isValid={{this.nameValidation.isValid}}
			@isInValid={{this.nameValidation.isInValid}}
			@onChange={{fn this.onFieldChange "name"}}
			@validationErrors={{this.nameValidation.errors}}
		/>
	</div>
	<div class="field">
		<FormInput
			id="description"
			placeholder={{t "models.variable.fields.description"}}
			value={{this.description}}
			@labelText={{t "models.variable.fields.description"}}
			@isValid={{this.descriptionValidation.isValid}}
			@isInValid={{this.descriptionValidation.isInValid}}
			@onChange={{fn this.onFieldChange "description"}}
			@validationErrors={{this.descriptionValidation.errors}}
		/>
	</div>
	<div class="field">
		<label for="type" class="label">
			{{t "models.variable.fields.type"}}
		</label>
		<div class="control">
			<PowerSelect
				@triggerClass="input"
				@options={{this.variableTypes}}
				@allowClear={{false}}
				@selected={{this.selectedVariableType}}
				@onChange={{this.setVariableType}} as |variableType|
			>
				{{variableType.value}}
			</PowerSelect>
		</div>
		{{#if this.variableTypeValidation.isInValid}}
			{{#each this.variableTypeValidation.errors as |error|}}
				<p class="help is-danger">
					{{t error}}
				</p>
			{{/each}}
		{{/if}}
	</div>
	<div class="field">
		<label for="type" class="label">
			{{t "models.variable.fields.domain"}}
		</label>
		<div class="control">
			<PowerSelect
				@triggerClass="input"
				@options={{@domains}}
				@allowClear={{false}}
				@selected={{this.domain}}
				@onChange={{fn this.onFieldChange "domain"}} as |domain|
			>
				{{domain.name}}
			</PowerSelect>
		</div>
		{{#if this.domainValidation.isInValid}}
			{{#each this.domainValidation.errors as |error|}}
				<p class="help is-danger">
					{{t error}}
				</p>
			{{/each}}
		{{/if}}
	</div>
	<div class="field">
		<FormInput
			id="question"
			placeholder={{t "models.variable.fields.question"}}
			value={{this.question}}
			@labelText={{t "models.variable.fields.question"}}
			@isValid={{this.questionValidation.isValid}}
			@isInValid={{this.questionValidation.isInValid}}
			@onChange={{fn this.onFieldChange "question"}}
			@validationErrors={{this.questionValidation.errors}}
		/>
	</div>
	<button type="submit" class="button is-primary" {{on "click" this.onSubmit}}>
		{{t "common.actions.save"}}
	</button>
	<button type="button" class="button is-light" {{on "click" @onCancel}}>
		{{t "common.actions.cancel"}}
	</button>
</form>